
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
body {
  background: #FFFFFF;
}


.footer{
/* ©2020 All Rights Reserved. Next Entertainment. Handcrafted by Featherwebs */
position: absolute;
width: 800px;
height: 22px;
left: 300px;
top: 2890px;
margin-bottom: 10px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 0px;
/* identical to box height, or 157% */

text-align: center;

color: rgba(0, 0, 0, 0.65);

}

/* last div above footer */
.buttom-div{
position: absolute;
width: 1440px;
height: 470px;
left: 0px;
top: 2377px;
background: #FF8C42;
}

.bottom-div-one{
  /* Interactive Contests, Games and Live Giveaways */
position: absolute;
width: 400px;
height: 19px;
left: 547px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.bottom-div-two{
  position: absolute;
width: 862px;
height: 100px;
left: 289px;
top: 115px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.button{
  display: flex;
flex-direction: column;
align-items: center;
padding: 16px;

position: absolute;
width: 286px;
height: 54px;
left: 577px;
top: 270px;
background-color: #FFFFFF;
border: none;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
}
.button:hover{
  text-decoration: none;
}

.button-text{
  /* Register for the Event */


position: static;
width: 180px;
height: 22px;
left: 76px;
top: 16px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

color: #FF8C42;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}


/* official partners */

.div-one{
  position: absolute;
width: 200px;
height: 19px;
left: 630px;
top: 2119px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.image-one{
  position: absolute;
  width: 244px;
  height: 70px;
  left: 218px;
  top: 2218px;
  /* background: url(./images/image5.png); */
}
.image-two{
position: absolute;
width: 90px;
height: 90px;
left: 499px;
top: 2198px;

}
.image-three{
  position: absolute;
width: 182px;
height: 141px;
left: 607px;
top: 2172px;
}
.image-four{
  position: absolute;
width: 243px;
height: 243px;
left: 789px;
top: 2134px;
}
.image-five{
  position: absolute;
width: 214px;
height: 61px;
left: 1051px;
top: 2225px;
}

/* Giveaway  */
.giveaway{
  position: absolute;
width: 1440px;
height: 701px;
left: 0px;
top: 1363px;
background: rgba(255, 218, 188, 0.33);
}
.giveaway-text-one{
/* Interactive Contests, Games and Live Giveaways */

position: absolute;
width: 400px;
height: 19px;
left: 520px;
top: 45px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.giveaway-text-two{
  position: absolute;
width: 862px;
height: 100px;
left: 289px;
top: 55px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #FF3C38;
}
.img-one{
  position: absolute;
width: 325px;
height: 413px;
left: 60px;
top: 182px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-two{
  position: absolute;
width: 198px;
height: 197px;
left: 125px;
top: 182px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-three{
  position: absolute;
width: 197px;
height: 197px;
left: 130px;
top: 182px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-four{
  position: absolute;
width: 197px;
height: 197px;
left: 140px;
top: 182px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-five{
  position: absolute;
width: 198px;
height: 197px;
left: 125px;
top: 397px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-six{
  position: absolute;
width: 197px;
height: 197px;
left: 130px;
top: 397px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-seven{
  position: absolute;
width: 197px;
height: 197px;
left: 140px;
top: 397px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}


/* vector */
.vector{
position: absolute;
left: 53.84%;
right: 48.45%;
top: 125.59%;
bottom: 70.77%;
/* transform: rotate(180deg); */

}

.vector-opp{
  position: absolute;
left: 56.14%;
right: 48.15%;
top: 125.59%;
bottom: 70.77%;
filter: grayscale(100%);
transform: rotate(180deg);
}



/* event contents */
.row1{
  position: absolute;
width: 533px;
height: 169px;
left: 245px;
top: 93px;
background-color:#ECECEC;
border-radius: 4px;
}
.row2{
  position: absolute;
width: 533px;
height: 169px;
left:245px;
top: 272px;
background-color:#ECECEC;
border-radius: 4px;
}
.row3{
  position: absolute;
width: 533px;
height: 169px;
left: 245px;
top: 455px;
/* background-color:#ECECEC; */
border-radius: 4px;
background-image: linear-gradient(180deg, #ECECEC 8.88%, #FFFFFF 92.9% );
}
.p1{
  /* Ani Dance Competition */
position: absolute;
width: 300px;
height: 29px;
/* left: 0px; */
top: 15px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;
color: #000000;
}
.p2{
  position: absolute;
width: 350px;
height: 65px;
/* left: 0px; */
top: 65px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.65);
}
.p3{
  position: absolute;
width: 300px;
height: 29px;
/* left: 2px; */
top: 15px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;

color: #000000;
}
.p4{
  position: absolute;
width: 330px;
height: 65px;
/* left: 5px; */
top: 65px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.65);
}
 .p5{
  position: absolute;
width: 320px;
height: 29px;
/* left: 2px; */
top: 15px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;
}
.p6{
  position: absolute;
width: 330px;
height: 65px;
/* left: 5px; */
top: 65px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.65);
}
.event1{
  position: absolute;
  width: 139px;
  height: 126px;
  left: 20px;
  top: 20px;
  border-radius: 4px;
}
.event2{
  position: absolute;
width: 139px;
height: 126px;
left: 20px;
top: 20px;
border-radius: 4px;
}
.event3{
  position: absolute;
  width: 139px;
  height: 126px;
  left: 20px;
  top: 20px;
  border-radius: 4px;
}

.col-p1{
  position: absolute;
width: 200px;
height: 19px;
left: 180px;
top: 180px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}
.col-p2{
  position: absolute;
width: 410px;
height: 44px;
left: 180px;
top: 210px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
/* identical to box height */
display: flex;
align-items: center;

color: #EB6108;
}
.col-p3{
position: absolute;
width: 384px;
height: 93px;
left: 180px;
top: 280px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);

}
.button-event{
  display: flex;
flex-direction: column;
align-items: center;
padding: 12px 16px;

position: absolute;
width: 189px;
height: 46px;
left: 185px;
top: 405px;
border: none;
background: #FF3C38 ;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
}
.button-event:hover{
  text-decoration: none;
}
.button-p{
  position: static;
width: 200px;
height: 22px;
left: 27.5px;
top: 12px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

/* Character/Primary(inverse) */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}


/* top div */
.title{
  position: absolute;
width: 127px;
height: 41px;
left: 238px;
top: 51px;

font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 41px;

color: #FF8C42;
}
.title .title-half{
  position: absolute;  
  font-family: Ubuntu;
  color: #000000;
}
.top-img{
  position: relative;
width: 580px;
height: 387px;
left: 650px;
top: 193px;
border-radius: 5px;
z-index: 1;
}

/* play button */
.play{
  position: absolute;
left: 143.25%;
right: 60.25%;
top: 52.50%;
bottom: 6.25%;
z-index: 1;
/* background: #FF3C38; */
}
.top-p1{
  position: absolute;
width: 425px;
height: 19px;
left: 230px;
top: 204.08px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.5);

}
.top-p2{
  position: absolute;
width: 410px;
height: 88px;
left: 230px;
top: 230px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
display: flex;
align-items: center;

color: #EB6108;
}
.top-p3{
  position: absolute;
width: 420px;
height: 93px;
left: 230px;
top: 345px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}
.top-col2{
  position: absolute;
width: 661px;
height: 690px;
left: 160px;
top: 0px;

background: #FF8C42;
}
.top-col2-p{
  position: relative;
height: 22px;
top: 40px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 137% */
text-align: center;
color: #FFFFFF;

}
.top-col2-p:hover{
  color:#FFFFFF;
}
.span-p{
  padding:8px;
}

.top-button1{
  display: flex;
flex-direction: column;
align-items: center;
padding: 5px 16px;

position: absolute;
width: 180px;
height: 32px;
left: 235px;
top: 472px;
border:none;
background: #FF3C38;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
}
.top-button-p1{
  position: static;
width: 180px;
height: 22px;
left: 16px;
top: 15px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

/* Character/Primary(inverse) */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
.top-button1:hover{
  text-decoration: none;
}
.top-button2{
  display: flex;
flex-direction: column;
align-items: center;
padding: 5px 20px;

position: absolute;
width: 100px;
height: 32px;
left: 432px;
top: 472px;

/* Neutral/1 */

background: #FFFFFF;
/* Neutral/5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
border-radius: 2px;
}

.top-button-p2{
  position: static;
width: 100px;
height: 22px;
left: 16px;
top: 5px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

/* Character/Primary .65 */

color: rgba(0, 0, 0, 0.65);

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;

}
.top-button2:hover {
  text-decoration: none;
}
.top-image1{
  position: absolute;
width: 129px;
height: 37px;
left: 238px;
top: 532.08px;

}
.top-image2{
  position: absolute;
width: 61px;
height: 61px;
left: 396px;
top: 520.08px;

}
.top-image3{
  position: absolute;
width: 126px;
height: 67px;
left: 477px;
top: 520px;

}


/* .form-div{
  left:50%;
  right:50%;
  background-color: rosybrown;
} */


/* learnMore screen */
.more{

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.5);
}

.heading{
  font-family: Ubuntu;
font-style: normal;
font-weight: bolder;
font-size: 18px;
line-height: 20px;
display: flex;
align-items: center;

color: #EB6108;
}