
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
body {
  background: #FFFFFF;
}


.footer{
/* ©2020 All Rights Reserved. Next Entertainment. Handcrafted by Featherwebs */
position: absolute;
width: 480px;
height: 22px;
left: 480px;
top: 2890px;
margin-bottom: 10px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 0px;
/* identical to box height, or 157% */

text-align: center;

color: rgba(0, 0, 0, 0.65);

}

/* last div above footer */
.buttom-div{
position: absolute;
width: 1440px;
height: 470px;
left: 0px;
top: 2377px;
background: #FF8C42;
}

.bottom-div-one{
  /* Interactive Contests, Games and Live Giveaways */
position: absolute;
width: 346px;
height: 19px;
left: 547px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}

.bottom-div-two{
  position: absolute;
width: 862px;
height: 100px;
left: 289px;
top: 95px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.button{
  display: flex;
flex-direction: column;
align-items: center;
padding: 16px;

position: absolute;
width: 286px;
height: 54px;
left: 577px;
top: 270px;
background: #FFFFFF;
border: none;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
}

.button-text{
  /* Register for the Event */


position: static;
width: 134px;
height: 22px;
left: 76px;
top: 16px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

color: #FF8C42;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}


/* official partners */

.div-one{
  position: absolute;
width: 146px;
height: 19px;
left: 647px;
top: 2119px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.image-one{
  position: absolute;
  width: 244px;
  height: 70px;
  left: 218px;
  top: 2218px;
  /* background: url(./images/image5.png); */
}
.image-two{
position: absolute;
width: 90px;
height: 90px;
left: 499px;
top: 2198px;

}
.image-three{
  position: absolute;
width: 182px;
height: 141px;
left: 607px;
top: 2172px;
}
.image-four{
  position: absolute;
width: 243px;
height: 243px;
left: 789px;
top: 2134px;
}
.image-five{
  position: absolute;
width: 214px;
height: 61px;
left: 1051px;
top: 2225px;
}

/* Giveaway  */
.giveaway{
  position: absolute;
width: 1440px;
height: 701px;
left: 0px;
top: 1363px;
background: rgba(255, 218, 188, 0.33);
}
.giveaway-text-one{
/* Interactive Contests, Games and Live Giveaways */

position: absolute;
width: 346px;
height: 19px;
left: 547px;
top: 22px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: rgba(0, 0, 0, 0.5);
}
.giveaway-text-two{
  position: absolute;
width: 862px;
height: 100px;
left: 289px;
top: 20px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
display: flex;
align-items: center;
text-align: center;

color: #FF3C38;
}
.img-one{
  position: absolute;
width: 325px;
height: 413px;
left: 234px;
top: 178px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-two{
  position: absolute;
width: 198px;
height: 197px;
left: 590px;
top: 178px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-three{
  position: absolute;
width: 197px;
height: 197px;
left: 804px;
top: 178px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-four{
  position: absolute;
width: 197px;
height: 197px;
left: 1018px;
top: 178px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-five{
  position: absolute;
width: 198px;
height: 197px;
left: 590px;
top: 393px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-six{
  position: absolute;
width: 197px;
height: 197px;
left: 804px;
top: 393px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}
.img-seven{
  position: absolute;
width: 197px;
height: 197px;
left: 1018px;
top: 393px;

border: 1px solid #D9D9D9;
box-sizing: border-box;
border-radius: 4px;
}


/* vector */
.vector{
position: absolute;
left: 54.84%;
right: 48.45%;
top: 128.59%;
bottom: 72.77%;
/* transform: rotate(180deg); */

}

.vector-opp{
  position: absolute;
left: 57.14%;
right: 48.15%;
top: 128.59%;
bottom: 72.77%;
filter: grayscale(100%);
transform: rotate(180deg);
}


/* eventt contents */
.row1{
  position: absolute;
width: 524px;
height: 169px;
left: 225px;
top: 727px;
background-color:#ECECEC;
border-radius: 4px;
}
.row2{
  position: absolute;
width: 524px;
height: 169px;
left: 225px;
top: 908px;
background-color:#ECECEC;
border-radius: 4px;
}
.row3{
  position: absolute;
width: 524px;
height: 169px;
left: 225px;
top: 1088px;
background-color:#ECECEC;
border-radius: 4px;
}
.p1{
  /* Ani Dance Competition */

position: absolute;
width: 258px;
height: 29px;
left: 175px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;

color: #000000;

}
.p2{
  position: absolute;
width: 314px;
height: 65px;
left: 178px;
top: 60px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.65);
}
.p3{
  position: absolute;
width: 267px;
height: 29px;
left: 175px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 29px;
display: flex;
align-items: center;

color: #000000;
}
.p4{
  position: absolute;
width: 314px;
height: 65px;
left: 178px;
top: 60px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.65);
}
.p5{
  position: absolute;
width: 267px;
height: 29px;
left: 175px;
top: 10px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 25px;
display: flex;
align-items: center;

color: #000000;
}
.p6{
  position: absolute;
width: 360px;
height: 65px;
left: 178px;
top: 60px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.65);
}
.event1{
  position: absolute;
  width: 139px;
  height: 126px;
  left: 20px;
  top: 20px;
  border-radius: 4px;
}
.event2{
  position: absolute;
width: 139px;
height: 126px;
left: 20px;
top: 20px;
border-radius: 4px;
}
.event3{
  position: absolute;
  width: 139px;
  height: 126px;
  left: 20px;
  top: 20px;
  border-radius: 4px;
}

.col-p1{
  position: absolute;
width: 162px;
height: 19px;
left: 808px;
top: 795px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);
}
.col-p2{
  position: absolute;
width: 410px;
height: 44px;
left: 805px;
top: 800px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
/* identical to box height */
display: flex;
align-items: center;

color: #EB6108;
}
.col-p3{
  position: absolute;
width: 384px;
height: 93px;
left: 808px;
top: 900px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);

}
.button-event{
  display: flex;
flex-direction: column;
align-items: center;
padding: 12px 16px;

position: absolute;
width: 189px;
height: 46px;
left: 809px;
top: 1036px;
border: none;
background: #FF3C38;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
}
.button-p{
  position: static;
width: 134px;
height: 22px;
left: 27.5px;
top: 12px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

/* Character/Primary(inverse) */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}


/* top div */
.title{
  position: absolute;
width: 127px;
height: 41px;
left: 221px;
top: 51px;

font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 41px;

color: #FF8C42;
}
.title .title-half{
  position: absolute;  
  font-family: Ubuntu;
  color: #000000;
}
.top-img{
  position: absolute;
width: 580px;
height: 387px;
left: 643px;
top: 193px;
border-radius: 5px;
}
.top-p1{
  position: absolute;
width: 365px;
height: 19px;
left: 221px;
top: 204.08px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
color: rgba(0, 0, 0, 0.5);

}
.top-p2{
  position: absolute;
width: 410px;
height: 88px;
left: 218px;
top: 230px;

font-family: Ubuntu;
font-style: normal;
font-weight: bold;
font-size: 38px;
line-height: 44px;
display: flex;
align-items: center;

color: #EB6108;
}
.top-p3{
  position: absolute;
width: 384px;
height: 93px;
left: 221px;
top: 345px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);

}
.top-col2{
  position: absolute;
width: 661px;
height: 690px;
left: 778px;
top: 0px;

background: #FF8C42;
}
.top-col2-p{
  position: absolute;
width: 351px;
height: 22px;
left: 30px;
top: 40px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 137% */

text-align: center;

color: #FFFFFF;

}
.span-p{
  padding:8px;
}

.top-button1{
  display: flex;
flex-direction: column;
align-items: center;
padding: 5px 16px;

position: absolute;
width: 166px;
height: 32px;
left: 218px;
top: 472px;
border:none;
background: #FF3C38;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
border-radius: 2px;
}
.top-button-p1{
  position: static;
width: 134px;
height: 22px;
left: 16px;
top: 15px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

/* Character/Primary(inverse) */

color: #FFFFFF;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;
}
.top-button2{
  display: flex;
flex-direction: column;
align-items: center;
padding: 5px 16px;

position: absolute;
width: 103px;
height: 32px;
left: 395px;
top: 472px;

/* Neutral/1 */

background: #FFFFFF;
/* Neutral/5 */

border: 1px solid #D9D9D9;
box-sizing: border-box;
box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
border-radius: 2px;
}

.top-button-p2{
  position: static;
width: 71px;
height: 22px;
left: 16px;
top: 5px;

/* p14 */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

text-align: center;

/* Character/Primary .65 */

color: rgba(0, 0, 0, 0.65);

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 0px;

}
.top-image1{
  position: absolute;
width: 129px;
height: 37px;
left: 217px;
top: 532.08px;

}
.top-image2{
  position: absolute;
width: 61px;
height: 61px;
left: 366px;
top: 520.08px;

}
.top-image3{
  position: absolute;
width: 126px;
height: 67px;
left: 447px;
top: 520px;

}


/* .form-div{
  left:50%;
  right:50%;
  background-color: rosybrown;
} */